:root {
    font-family: 'Noto Sans Georgian', sans-serif;
}
.blue-tag {
    background-color: #2C56A5;
    color: white;
    padding: 4px 8px;
    margin-right: 10px;
    font-size: 12px;
}
a {
    color: #2666be;
}
h1 {
    font-weight: 400;
    line-height: 1;
    width: 518px;
    font-size: 24px;
}
h2 {
    font-weight: 600;
    line-height: 2;
    font-size: 18px;
}
article {
    margin: auto;
    width: 584px;
}
.u-black {
    color: black;
}
p {
    font-family: "Roboto", sans-serif;
    line-height: 2;
    font-size: 12px;
}
img {width: 100%;}